* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  height: 100%;
}

.align {
  max-width: 1280px;
  margin: 0 auto;
}

.header_wrapper {
  height: 22%;
  background-color: #f4fafa;
}

@media screen and (max-width: 600px) {
  .header_wrapper {
    height: 28%;
  }
}

@media screen and (max-width: 496px) {
  .header_wrapper {
    height: 32%;
  }
}

.header_wrapper .header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_wrapper .header .contacts_align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 85%;
}

.header_wrapper .header .contacts_align .contacts_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 50%;
  width: 31.9em;
  transition: all 0.3s;
}

.header_wrapper .header .contacts_align .contacts_wrapper .name {
  text-align: end;
}

@media screen and (max-width: 600px) {
  .header_wrapper .header .contacts_align .contacts_wrapper {
    height: 52%;
  }
}

@media screen and (max-width: 496px) {
  .header_wrapper .header .contacts_align .contacts_wrapper {
    width: 20em;
    height: 60%;
  }
}

.header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
}

.header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper .languages {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 600px) {
  .header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper .languages {
    height: 30px;
    width: 30px;
  }
}

.header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper .switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 22px;
  border-radius: 50px;
  border: 2px solid #003456;
  opacity: 0.5;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper .switcher {
    width: 50px;
    height: 28px;
  }
}

.header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper .switcher .tumbler_wrapper {
  display: flex;
  align-items: center;
  width: 34px;
  height: 16px;
  border-radius: 50px;
}

@media screen and (max-width: 600px) {
  .header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper .switcher .tumbler_wrapper {
    width: 42.5px;
    height: 20px;
  }
}

.header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper .switcher .tumbler_wrapper .tumbler {
  width: 50%;
  height: 100%;
  border-radius: 50px;
  background-color: #003456;
  transition: all 0.2s;
}

.header_wrapper .header .contacts_align .contacts_wrapper .switcher_wrapper .switcher .tumbler_wrapper .tumbler.activate {
  transform: translateX(100%);
}

.header_wrapper .header .contacts_align .contacts_wrapper .separator_wrapper {
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .header_wrapper .header .contacts_align .contacts_wrapper .separator_wrapper {
    width: 21.2em;
  }
}

@media screen and (max-width: 496px) {
  .header_wrapper .header .contacts_align .contacts_wrapper .separator_wrapper {
    width: 16.4em;
  }
}

.header_wrapper .header .contacts_align .contacts_wrapper .separator_wrapper .separator {
  width: 100%;
  border: 1px solid #003456;
  opacity: 0.5;
  transition: border-color 0.3s;
}

.header_wrapper .header .contacts_align .contacts_wrapper .contacts {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header_wrapper .header .contacts_align .contacts_wrapper .contacts {
    flex-wrap: wrap;
  }
}

.header_wrapper .header .contacts_align .contacts_wrapper .contacts .contacts_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.5%;
}

@media screen and (max-width: 600px) {
  .header_wrapper .header .contacts_align .contacts_wrapper .contacts .contacts_item {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 4.9em;
  }
}

.header_wrapper .header .contacts_align .contacts_wrapper .contacts .contacts_item .icons {
  margin-left: -3%;
}

.header_wrapper .header .contacts_align .contacts_wrapper .contacts .contacts_item .contacts_link {
  text-decoration: none;
  color: #000000;
}

.header_wrapper .header .contacts_align .contacts_wrapper:hover .separator_wrapper .separator {
  border-color: #b19600;
}

.main_wrapper {
  height: 40%;
  background-color: #003456;
}

.main_wrapper .main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrapper .main .options_align {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main_wrapper .main .options_align .options_wrapper {
  height: 50%;
  width: 31em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 600px) {
  .main_wrapper .main .options_align .options_wrapper {
    width: 25em;
  }
}

@media screen and (max-width: 436px) {
  .main_wrapper .main .options_align .options_wrapper {
    height: 70%;
  }
}

.main_wrapper .main .options_align .options_wrapper .title {
  font-size: 4em;
  font-weight: 700;
  font-style: bold;
  color: #f4fafa;
}

@media screen and (max-width: 600px) {
  .main_wrapper .main .options_align .options_wrapper .title {
    font-size: 3em;
  }
}

@media screen and (max-width: 436px) {
  .main_wrapper .main .options_align .options_wrapper .title {
    width: 1em;
  }
}

.main_wrapper .main .options_align .options_wrapper .separator_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 21%;
}

.main_wrapper .main .options_align .options_wrapper .separator_wrapper .separator {
  width: 100%;
  border: 1px solid #f4fafa;
  opacity: 0.5;
}

.main_wrapper .main .options_align .options_wrapper .options {
  font-size: 1.2em;
  color: #f4fafa;
  list-style: none;
  padding-top: 2%;
}

.footer_wrapper {
  height: 38%;
  background-color: #003456;
}

@media screen and (max-width: 600px) {
  .footer_wrapper {
    height: 32%;
  }
}

@media screen and (max-width: 496px) {
  .footer_wrapper {
    height: 28%;
  }
}

.footer_wrapper .footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_wrapper .footer .prices_button_align {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer_wrapper .footer .prices_button_align .prices_button_wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer_wrapper .footer .prices_button_align .prices_button_wrapper .prices_button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 207px;
  height: 52px;
  background: #f4fafa;
  border-radius: 10rem;
  border: 1px solid #f4fafa;
  text-align: center;
  font-size: 1.1em;
  transition: all 0.3s;
}

.footer_wrapper .footer .prices_button_align .prices_button_wrapper .prices_button:hover {
  cursor: pointer;
}

.footer_wrapper .footer .prices_button_align .prices_button_wrapper .prices_button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4fafa;
  border-radius: 10rem;
  z-index: -2;
}

.footer_wrapper .footer .prices_button_align .prices_button_wrapper .prices_button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #655500;
  opacity: 0.5;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.footer_wrapper .footer .prices_button_align .prices_button_wrapper .prices_button:hover {
  color: #f4fafa;
}

.footer_wrapper .footer .prices_button_align .prices_button_wrapper .prices_button:hover:before {
  width: 100%;
}

.footer_wrapper .footer .prices_button_align .prices_button_wrapper .prices_button .prices_link {
  text-decoration: none;
  color: #000000;
}

.footer_wrapper .footer .prices_button_align .separator_wrapper {
  margin-bottom: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 21%;
}

.footer_wrapper .footer .prices_button_align .separator_wrapper .separator {
  width: 100%;
  border: 1px solid #f4fafa;
  opacity: 0.5;
}
